./data/Background_Reference_Proteomes
./data/PostgreSQL
./data/session
__pycache__
./app/__pycache__
.pytest_cache
./python/__pycache__
./app/.pytest_cache

.git/

build
dist
*.egg-info
*.egg/
*.pyc
*.swp

.coverage
html/*
