beautifulsoup4==4.3.2
blinker==1.3
cffi==0.8.6
chardet==2.3.0
click==6.7
cryptography==0.6.1
decorator==3.4.0
defusedxml==0.4.1
docutils==0.12
Flask==0.12
Flask-Restless==0.17.0
Flask-SQLAlchemy==2.1
html5lib==0.999
ipython==2.3.0
itsdangerous==0.24
Jinja2==2.9.4
joblib==0.8.3
lxml==3.4.0
Markdown==2.6.8
MarkupSafe==0.23
matplotlib==1.4.2
mechanize==0.2.5
mimerender==0.6.0
mock==1.0.1
nose==1.3.4
numexpr==2.4
numpy==1.8.2
openpyxl==1.7.0
pandas==0.14.1
pexpect==3.2
Pillow==2.6.1
ply==3.4
psycopg2==2.6.2
pycparser==2.10
pycups==1.9.63
pycurl==7.19.5
Pygments==2.0.1
pygobject==3.14.0
pyinotify==0.9.4
pyOpenSSL==0.14
pyparsing==2.0.3
pysmbc==1.0.15.3
python-apt==0.9.3.12
python-dateutil==2.6.0
python-debian==0.1.27
python-debianbts==1.11
python-mimeparse==1.6.0
pytz==2012rc0
pyxdg==0.25
reportbug==6.6.3
requests==2.13.0
roman==2.0.0
scipy==0.14.0
simplegeneric==0.8.1
simplejson==3.6.5
six==1.10.0
SOAPpy==0.12.22
SQLAlchemy==1.1.5
statsmodels==0.4.2
tables==3.1.1
Werkzeug==0.11.15
wstools==0.4.3
WTForms==2.0.1
xlrd==0.9.2
xlwt==0.7.5
