body {background-color:lightgrey;}
.errors  {color:red;}
.column_names {text-indent: 50px;}
.cpr_logo {
    float: right;
    padding: 10px;}
.navbar-header{
    padding: 10px;
    width: 140px;}
.navbar-nav{padding: 10px;}


.long_row {
  max-width: 200px;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}