{% extends "layout.html" %}

{% block head %}

{% endblock head %}


{% block content %}


<div class="container-fluid">
    <h3>Contact</h3>
    <br>
    <div class="row">
        <div class="col-md-5">
        <p>
        Brian Tate Weinert
        <br><a href="mailto:briantate.weinert@cpr.ku.dk" class="link"><span>briantate.weinert@cpr.ku.dk</span></a>
        </p>
        </div>
        <div class="col-md-5">
        <p>
        Lars Juhl Jensen
        <br><a href="mailto:lars.juhl.jensen@cpr.ku.dk" class="link"><span>lars.juhl.jensen@cpr.ku.dk</span></a>
        </p>
        </div>
    </div>
    <br>
        <p>

        <a href="http://www.cpr.ku.dk/">Center for Protein Research</a>
    </p>


    <br>
    <h3>FAQ</h3>
    <br>
        <h4>Parameters</h4>
        <p>
        AccessionNubers that do not match any <a href="http://geneontology.org/">GO-term</a>
            or UniProt-keyword <a href="http://www.uniprot.org/help/keywords/">UniProt-keyword</a>
            will be disregarded.<br>
        Abundance correction: AccessionNumbers without abundance data will be disregarded.<br>
        GO basic or GO slims <a href="http://geneontology.org/page/go-slim-and-subset-guide/">GO slim subset</a><br>

        </p>
        <h4>Results</h4>
        <p>
        The column bla bla
        </p>




</div>
	
{% endblock content %}
