{% extends "layout.html" %}

{% block head %}

{% endblock head %}


{% block content %}


<div class="container-fluid">
    <h3>Contact</h3>
    <br>
    <div class="row">
        <div class="col-md-3">
        <p>
        Brian Tate Weinert
        <br><a href="mailto:briantate.weinert@cpr.ku.dk" class="link"><span>briantate.weinert@cpr.ku.dk</span></a>
        </p>
        </div>
        <div class="col-md-3">
        <p>
        Lars Juhl Jensen
        <br><a href="mailto:lars.juhl.jensen@cpr.ku.dk" class="link"><span>lars.juhl.jensen@cpr.ku.dk</span></a>
        </p>
        </div>
    </div>

        <p>
            <br>
        <a href="http://www.cpr.ku.dk/">Center for Protein Research</a>
            <br>
        </p>

    <h3>Publication</h3>
    <p>will be named and linked here</p>

    <br>
    <h3>FAQ</h3>
    <br>
        <h4>Parameters</h4>
        <p>
        AccessionNubers that do not match any <a href="http://geneontology.org/">GO-term</a>
            or UniProt-keyword <a href="http://www.uniprot.org/">UniProt-keyword</a>
            will be disregarded.<br>
        Abundance correction: AccessionNumbers without abundance data will be disregarded.<br>
            <br>
        GO basic or GO slims <a href="http://geneontology.org/page/go-slim-and-subset-guide/">GO slim subset</a><br>


            <br>
        </p>
        <h4>Results</h4>
        <p>
        'pop_an' only shown when 'abundance correction' deselected

        </p>




</div>
	
{% endblock content %}
