{% extends "layout.html" %}

{% block head %}
      <script type="text/javascript">
          $(document).ready( function () {
              load_enzyme_enrichment();
          });
      </script>
{% endblock head %}


{% block content %}

<div class="container-fluid">	
    <form id="main_form" method="Post" action="got_results" enctype="multipart/form-data">
        <h2>GO-term enrichment</h2>

        <div class="row">
            <div class="col-md-5">
                <h3>Upload file</h3>
                <title>Where does this show up?</title>
                <p><input type=file name=file></p>
                <p>Expects a tab-demlimited text-file with 3 columns:
                    <li>'background_an'</li>
                    <li>'background_int'</li>
                    <li>'sample_an'</li>
                    if 'Abundance correction' is deselected 'background_int' can be omitted
                </p>
                </p>
                </div>
            <div class="col-md-5">
                <br>
                <br>
                <br>{{ form.organism.label }}: {{ form.organism() }}
                <br>{{ form.decimal.label }}: {{ form.decimal() }}
                <br>{{ form.abcorr.label }}: {{ form.abcorr() }}
                <br>{{ form.num_bins.label }}: {{ form.num_bins() }}
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <h3>Keyword association</h3>
                {{ form.gocat_upk.label }}: {{ form.gocat_upk() }}
                <br>{{ form.go_slim_or_basic.label }}: {{ form.go_slim_or_basic() }}
                <br>{{ form.backtracking.label }}: {{ form.backtracking() }}
                <br>
                <br>
            </div>
            </div>

        <div class="row">
            <div class="col-md-5">
                <h3>Report options</h3>
                {{ form.indent.label }}: {{ form.indent() }}
                <br>{{ form.o_or_e_or_both.label }}: {{ form.o_or_e_or_both() }}
                <br>
                <br>
                <h4>Multiple testing</h4>
                {{ form.multitest_method.label }}: {{ form.multitest_method() }}
                <br>{{ form.alpha.label }}: {{ form.alpha() }} *
                <p>* alpha only applies to 'Sidak' and 'Holm' correction</p>
                <br>
                <br>
                </div>
            <div class="col-md-5">
                <br>
                <br>
                <h4>filter results</h4>
                {{ form.fold_enrichment_study2pop.label }}: {{ form.fold_enrichment_study2pop() }}
                <br>{{ form.p_value_uncorrected.label }}: {{ form.p_value_uncorrected() }}
                <br>{{ form.p_value_mulitpletesting.label }}: {{ form.p_value_mulitpletesting() }}
            </div>
        </div>
        <button id="submit_button" type="submit" class="btn btn-primary">Submit</button>
		<br>
	</form>
</div>  <!-- /container -->
	
{% endblock content %}

