{% extends "layout.html" %}

{% block head %}
        <!--
      <script type="text/javascript">
          $(document).ready( function () {
              load();
          });
      </script>-->
{% endblock head %}


{% block content %}


<div class="container-fluid">
    <h3>GO-term or UniProt-keyword enrichment</h3>
	<p>This site contains proteomics tools</p>
	<ul>
        <li><a href="{{ url_for('GOTerms') }}">GOTerms</a></li>
        <li><a href="{{ url_for('UniProtKeywords') }}">UniProtKeywords</a></li>
        <li><a href="{{ url_for('about') }}">about</a></li>
	</ul>
</div>
	
{% endblock content %}
