{% extends "layout.html" %}

{% block head %}
      <script type="text/javascript">
          $(document).ready( function () {
              //load_enzyme_enrichment();
          });
      </script>
{% endblock head %}


{% block content %}

<div class="container-fluid">	
	<form id="main_form" method="Post" action="/phospho_enrichment_result" enctype="multipart/form-data">
        <p class="h4">Phosphorylation Enrichment</p>
        <p>
            <a href="http://david.abcc.ncifcrf.gov/">David</a> calcuates enrichments based on protein counts<br>
            By uploading the david result files along with ID column and site count column we can redo the enrichment
            tests based on site counts.
        </p>
        <div class="row">
            <div class="col-md-5">
                {{ form.foreground_textarea.label }}:
                {{ form.foreground_textarea(rows="5", class="form-control") }}
            </div>
            <div class="col-md-5">
                {{ form.background_textarea.label }}:
                {{ form.background_textarea(rows="5", class="form-control") }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                {{ form.foreground_david_file.label }}:
                {{ form.foreground_david_file(class="filestyle btn-info" , **{"data-buttonText" : "Upload File"}) }}
            </div>
            <div class="col-md-5">
                {{ form.background_david_file.label }}:
                {{ form.background_david_file(class="filestyle btn-info" , **{"data-buttonText" : "Upload File"}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-5"><br>{{ form.fdr.label }}: {{ form.fdr() }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-5">
                <button id="submit_button" type="submit" class="btn btn-primary">Submit</button>
                <button id="clear_button" type="button" class="btn btn-primary">Clear</button>
            </div>
        </div>
	</form>
</div>  <!-- /container -->
	
{% endblock content %}
