{% extends "layout.html" %}

{% block head %}

{% endblock head %}


{% block content %}


<div class="container-fluid">
    <h3>Contact</h3>
    <div class="row">
        <div class="col-md-5">
        <p>
        Brian Tate Weinert
        <br><a href="mailto:briantate.weinert@cpr.ku.dk" class="link"><span>briantate.weinert@cpr.ku.dk</span></a>
        </p>
        </div>
        <div class="col-md-5">
        <p>
        Lars Juhl Jensen
        <br><a href="mailto:lars.juhl.jensen@cpr.ku.dk" class="link"><span>lars.juhl.jensen@cpr.ku.dk</span></a>
        </p>
        </div>
    </div>
    <br>
        <p>

        <a href="http://www.cpr.ku.dk/">Center for Protein Research</a>
    </p>


    <br>
    <h3>FAQ</h3>
    <p>
        What shall we explain here?
    </p>

</div>
	
{% endblock content %}
