{% extends "layout.html" %}

{% block head %}
      <script type="text/javascript">
          $(document).ready( function () {
              load_enzyme_enrichment();
          });
      </script>
{% endblock head %}


{% block content %}

<div class="container-fluid">	
	<form id="main_form" method="Post" action="enzyme_enrichment_result" enctype="multipart/form-data">
        <h4>Enzyme Enrichment</h4>
        <p>Takes two <a href="networkin.info">Networkin</a> Result files, for each enzyme (usally only kinases) it performs a kolmogorov-smirnov test to see if the distribution of scores are significantly different</p>
        <div>{{form.forground_file.label}}: {{form.forground_file(class="filestyle btn-info")}}</div>
        <div>{{form.background_file.label}}: {{form.background_file(class="filestyle btn-info")}}</div>

        <br>
        <button id="submit_button" type="submit" class="btn btn-primary">Submit</button>
        <button id="clear_button" type="button" class="btn btn-primary">Clear</button>
		<br>
	</form>
</div>  <!-- /container -->
	
{% endblock content %}
