{% extends "layout.html" %}

{% block head %}
        <!--
      <script type="text/javascript">
          $(document).ready( function () {
              load();
          });
      </script>-->
{% endblock head %}


{% block content %}


<div class="container-fluid">
    <h3>Godot was here</h3>
	<p>Work in progress</p>
	<ul>
		<li><a href="{{ url_for('activation_loop_peptides') }}">Activation loop Analysis</a></li>
		<li><a href="{{ url_for('enzyme_enrichment') }}">Enzyme Enrichment</a></li>
		<li><a href="{{ url_for('phospho_enrichment') }}">Phospho Enrichment</a></li>
		<li><a href="{{ url_for('go_term_enrichment') }}">GO term analysis</a></li>
	</ul>
</div>
	
{% endblock content %}



