{% extends "layout.html" %}

{% block head %}
        <!--
      <script type="text/javascript">
          $(document).ready( function () {
              load();
          });
      </script>-->
{% endblock head %}


{% block content %}


<div class="container-fluid">
    <h3>GO-term or UniProt-keyword enrichment</h3>
	<p>This site contains proteomics tools</p>
	<ul>
        <li><a href="{{ url_for('GOTUPK_cap') }}">Copy & Paste</a></li>
        <li><a href="{{ url_for('GOTUPK_file') }}">File</a></li>
        <li><a href="{{ url_for('enzyme_enrichment') }}">E</a></li>
		<li><a href="{{ url_for('phospho_enrichment') }}">P</a></li>
        <li><a href="{{ url_for('about') }}">about</a></li>
	</ul>
</div>
	
{% endblock content %}
