{% extends "layout.html" %}

{% block nav_API %} <li class="nav-item active"> <a class="nav-link" href="{{ url_for('api_help') }}">API<span class="sr-only">(current)</span></a></li> {% endblock %}

{% block content %}

<div class="container-fluid">
<br><br>

<h2 class="row">Application Programming Interface help</h2>
<div class="row">
</div>
<h3>Identifiers</h3>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
<div class="row">
</div></div>


 Additional or unnecessary columns will simply be ignored.

{% endblock content %}