{% extends "layout.html" %}

{% block head %}
      <script type="text/javascript">
          $(document).ready( function() {
              enrichment_page();
          });
      </script>
{% endblock head %}

{% block content %}
<div class="container-fluid">
    <form id="main_form" method="Post" action="results" enctype="multipart/form-data">
    <h2 class="row">ENRICHMENT</h2>

        <div class="row">
            <h3>Upload a file or copy & paste below</h3>
            <div class="col-md-10">
                <span title="{{ form.userinput_file.description }}">{{ form.userinput_file.label }}: {{ form.userinput_file(class="filestyle btn-info" , **{"data-buttonText" : "Upload file"}) }}</span>
                    {% if form.userinput_file.errors %}
                    <ul class="errors"> {% for error in form.userinput_file.errors %} <b> {{ error }} </b> {% endfor %} </ul>
                    {% endif %}
                <span>Expects a tab-delimited text-file (".txt" or ".tsv") with the following <b>3 column-headers:</b></span>
                    <li class="bulletpoints_li"><b>foreground</b>: UniProt Accession Numbers for all proteins in the test group (the group you want to examine for GO term enrichment, these identifiers should also be present in the “background” as the test group is a subset of the background)</li>
                    <li class="bulletpoints_li"><b>background</b>: UniProt Accession Numbers (such as "P00359") for all proteins</li>
                    <li class="bulletpoints_li"><b>intensity</b>: Protein abundance (intensity) for all proteins (copy number, iBAQ, or any other measure of abundance)</li>
                Isoforms and comma separated <b>protein-groups</b> e.g. ("O60462-5;A0A024R412;O60462-4") are accepted as well.<br>
            <br>
            <div class="row" id="copy_paste_field">
                 From - e.g. MS-Excel - select 1 column for the "Foreground" and either 1 or 2 columns for "Background & Intensity", copy, and paste into the field below. For "abundance_correction" you need a "Background" and "Intensity" values (therfore 2 columns); alternatively you can use only a "Background" without the "Intensity" values, but then please select "compare_samples" from the methods below the copy and paste field.

                <div class="col-md-5">
                    {{ form.foreground_textarea.label }}:
                    {{ form.foreground_textarea(rows="5", class="form-control") }}
                </div>
                <div class="col-md-5">
                    {{ form.background_textarea.label }}:
                    {{ form.background_textarea(rows="5", class="form-control") }}
                </div>
            </div>
            <br>
            </div>
                  <div class="col-md-10">
                  <span title="{{ form.enrichment_method.description }}"> {{ form.enrichment_method.label }}: {{ form.enrichment_method() }} <br> </span>
                  <div class="row">
                      <div class="taxid">
                          <div class="col-md-5">
                          <span title="{{ form.taxid.description }}"> {{ form.taxid.label }}: {{ form.taxid}} <br> </span>
                            {% if form.taxid.errors %}
                            <ul class="errors"> {% for error in form.taxid.errors %} <b> {{ error }} </b> {% endfor %} </ul>
                            {% endif %}
                          </div>
                      </div>
                  </div>
          </div>
        </div>
        </div>

        <div class="row">
            <h3>Analysis options</h3>
            <div class="col-md-10">
                <span title="{{ form.limit_2_entity_type.description }}"> {{ form.limit_2_entity_type.label }}: {{ form.limit_2_entity_type() }} <br> </span>
                <span title="{{ form.o_or_u_or_both.description }}"> {{ form.o_or_u_or_both.label }}: {{ form.o_or_u_or_both() }}</span><br>
                <span title="{{ form.go_slim_or_basic.description }}"> {{ form.go_slim_or_basic.label }}: {{ form.go_slim_or_basic() }}</span><br>
                <span title="{{ form.multiple_testing_per_etype.description }}"> {{ form.multiple_testing_per_etype.label }}: {{ form.multiple_testing_per_etype() }}</span><br>
            </div>

        </div>

        <div class="row">
            <h3>Report options</h3>
{#            <div class="col-md-5">#}
{#                <span title="{{ form.o_or_u_or_both.description }}"> {{ form.o_or_u_or_both.label }}: {{ form.o_or_u_or_both() }}</span><br>#}
{#                <span class="ONTOLOGY" title="{{ form.indent.description }}"> {{ form.indent.label }}: {{ form.indent() }}</span><br>#}

{#                <h4>Multiple testing</h4>#}
{#                <span title="{{ form.multitest_method.description }}"> {{ form.multitest_method.label }}: {{ form.multitest_method() }} <br> </span>#}
{#                <span class="alpha" title="{{ form.alpha.description }}"> {{ form.alpha.label }}: {{ form.alpha }} <br> </span>#}
{#                    {% if form.alpha.errors %}#}
{#                    <ul class="errors"> {% for error in form.alpha.errors %} <b> {{ error }} </b> {% endfor %} </ul>#}
{#                    {% endif %}#}
{#            </div>#}
            <div class="col-md-10">
{#                <h4>Filter results</h4>#}
                <table>
{#                <tr title="{{ form.fold_enrichment_for2background.description }}"><td class="somename">{{ form.fold_enrichment_for2background.label }}: </td><td>{{ form.fold_enrichment_for2background() }}</td>#}
{#                    {% if form.fold_enrichment_for2background.errors %}#}
{#                    <tr><td colspan="2"><ul class="errors"> {% for error in form.fold_enrichment_for2background.errors %} <b> {{ error }} </b> {% endfor %} </ul></td></tr>#}
{#                    {% endif %}#}
{#                </tr>#}
                <tr  title="{{ form.p_value_cutoff.description }}"><td class="somename">{{ form.p_value_cutoff.label }}: </td><td>{{ form.p_value_cutoff() }}</td>
                    {% if form.p_value_cutoff.errors %}
                    <tr><td colspan="2"><ul class="errors"> {% for error in form.p_value_cutoff.errors %} <b> {{ error }} </b> {% endfor %} </ul></td></tr>
                    {% endif %}
                </tr>
                <tr title="{{ form.FDR_cutoff.description }}"><td class="somename">{{ form.FDR_cutoff.label }}: </td><td>{{ form.FDR_cutoff() }}</td>
                    {% if form.FDR_cutoff.errors %}
                <tr>
                    <td colspan="2"><ul class="errors"> {% for error in form.FDR_cutoff.errors %} <b> {{ error }} </b> {% endfor %} </ul></td></tr>
                    {% endif %}
                </tr>
                    <tr title="{{ form.filter_foreground_count_one.description }}"><td class="somename">{{ form.filter_foreground_count_one.label }}: </td><td>{{ form.filter_foreground_count_one() }}</td>
                    <tr title="{{ form.filter_parents.description }}"><td class="somename">{{ form.filter_parents.label }}: </td><td>{{ form.filter_parents() }}</td>
                </table>
            </div>
        </div>
        <br>
        <button id="submit_button" type="submit" class="btn btn-primary">Submit</button>
        <button id="clear_button" type="button" class="btn btn-primary">Clear</button>
		<br><br><br><br>
	</form>
</div>
{% endblock content %}


