{% extends "layout.html" %}

{% block head %}
      <script type="text/javascript">
          $(document).ready( function() {
              enrichment_page();
          });
      </script>
{% endblock head %}

{% block nav_Enrichment %}
    <li class="nav-item active"> <a class="nav-link" href="{{ url_for('enrichment') }}">Enrichment<span class="sr-only">(current)</span></a></li>
{% endblock nav_Enrichment %}


{% block content %}
<div class="tab-content container page-wrap">

{#{% block content %}#}
{#<div class="container-fluid">#}
    <form id="main_form" method="Post" action="results" enctype="multipart/form-data">
    <br><br>
    <h1 class="row text-center">ENRICHMENT</h1>
    <br>
        <div class="row"><h3>Drag & drop or click to upload a file</h3></div>
        <div class="col-md-10">Please see the <a class="grey_underline" href="{{ url_for('example') }}">Example</a> page or try one of the examples below.</div>
            <div class="col-md-8">
                <span title="{{ form.userinput_file.description }}">{{ form.userinput_file.label }} (see <a class="grey_underline" href="{{ url_for('parameters') }}">Parameters</a> for details): {{ form.userinput_file(class="filestyle btn-info" , **{"data-buttonText" : "Upload file"}) }}</span>
                    {% if form.userinput_file.errors %}
                    <ul class="errors"> {% for error in form.userinput_file.errors %} <b> {{ error }} </b> {% endfor %} </ul>
                    {% endif %}
            <br>
            <div class="row"> <h4>or alternatively use copy & paste fields</h4></div>
            <div class="row">
                <div class="col-md-10 example_header">examples: <a class="example" href="{{ url_for('example_1') }}">#1</a>  <a class="example" href="{{ url_for('example_2') }}">#2</a> <a class="example" href="{{ url_for('example_3') }}">#3</a> <a class="example" href="{{ url_for('example_4') }}">#4</a></div>

                    <div class="row col-md-10 example_status" value="{{ example_status }}">
                        <br>
                        <em>
                        <h5><b>Example description: {{ example_title }}</b></h5>
                        {{ example_description }}
                        </em>
                        <br>
                    </div>
            </div>

            <div class="row" id="copy_paste_field">
                <div class="col-md-5">
                    {{ form.foreground_textarea.label }}:
                    {{ form.foreground_textarea(rows="4", class="form-control") }}
                </div>
                <div class="col-md-5">
                    {{ form.background_textarea.label }}:
                    {{ form.background_textarea(rows="4", class="form-control") }}
                </div>
            </div>

            <br>
            </div>
                  <div class="row col-md-10">
                      <span title="{{ form.enrichment_method.description }}"> {{ form.enrichment_method.label }}: {{ form.enrichment_method() }} <br> </span>
                  </div>
                  <div class="row col-md-10 taxid">
                      <span><a class="NCBI_TaxID" href="https://www.ncbi.nlm.nih.gov/taxonomy">NCBI TaxID:</a> {{ form.taxid}} <br> </span>
                        {% if form.taxid.errors %}
                        <ul class="errors"> {% for error in form.taxid.errors %} <b> {{ error }} </b> {% endfor %} </ul>
                        {% endif %}
                  </div>
                  <div class="row col-md-10 foreground_replicates">
                      <span title="{{ form.foreground_replicates.description }}"> {{ form.foreground_replicates.label }}: {{ form.foreground_replicates}} <br> </span>
                        {% if form.foreground_replicates.errors %}
                        <ul class="errors"> {% for error in form.foreground_replicates.errors %} <b> {{ error }} </b> {% endfor %} </ul>
                        {% endif %}
                      <span title="{{ form.background_replicates.description }}"> {{ form.background_replicates.label }}: {{ form.background_replicates}} <br> </span>
                        {% if form.background_replicates.errors %}
                        <ul class="errors"> {% for error in form.background_replicates.errors %} <b> {{ error }} </b> {% endfor %} </ul>
                        {% endif %}
                  </div>

        <div class="row">
            <h3>Analysis options</h3>
            <div class="col-md-10">
                <div title="{{ form.limit_2_entity_type.description }}"> {{ form.limit_2_entity_type.label }}: {{ form.limit_2_entity_type() }} <br> </div>
                <div class="p_value" title="{{ form.o_or_u_or_both.description }}"> {{ form.o_or_u_or_both.label }}: {{ form.o_or_u_or_both() }}</div>
                <div title="{{ form.go_slim_or_basic.description }}"> {{ form.go_slim_or_basic.label }}: {{ form.go_slim_or_basic() }}</div>
                <div class="p_value" title="{{ form.multiple_testing_per_etype.description }}"> {{ form.multiple_testing_per_etype.label }}: {{ form.multiple_testing_per_etype() }}</div>
            </div>
        </div>
        <div class="row">
            <h3>Report options</h3>
        </div>
            <div class="row">
                <div class="col-md-8">
                    <table>
                        <tr class="p_value" title="{{ form.p_value_cutoff.description }}"><td class="p_value">{{ form.p_value_cutoff.label }}: </td><td>{{ form.p_value_cutoff() }}</td>
                            {% if form.p_value_cutoff.errors %}
                                <tr><td colspan="2"><ul class="errors"> {% for error in form.p_value_cutoff.errors %} <b> {{ error }} </b> {% endfor %} </ul></td></tr>
                            {% endif %}
                        <tr class="p_value" title="{{ form.FDR_cutoff.description }}"><td class="p_value">{{ form.FDR_cutoff.label }}: </td><td>{{ form.FDR_cutoff() }}</td>
                            {% if form.FDR_cutoff.errors %}
                        <tr>
                            <td colspan="2"><ul class="errors"> {% for error in form.FDR_cutoff.errors %} <b> {{ error }} </b> {% endfor %} </ul></td></tr>
                            {% endif %}
                        <tr title="{{ form.filter_foreground_count_one.description }}"><td>{{ form.filter_foreground_count_one.label }}: </td><td>{{ form.filter_foreground_count_one() }}</td>
                        <tr class="filter_parents" title="{{ form.filter_parents.description }}"><td>{{ form.filter_parents.label }}: </td><td>{{ form.filter_parents() }}</td>
                    </table>
                </div>
            </div>

        <br>
        <div class="row">
            <div class="col-md-8">
                <button id="submit_button" type="submit" class="btn btn-primary">Submit</button>
                <a href="{{ url_for('enrichment') }}" class="btn btn-primary">Clear</a>
            </div>
        </div>
    <br><br>
	</form>

</div>
{% endblock content %}

<div id="footer" class="site-footer">
{% block footer %}
  <footer class="page-footer font-small">
    <div class="text-center py-3">
          <span class="cpr_logo"><a href="https://www.cpr.ku.dk/"> <img src="./static/images/CPR_logo.png"></a></span>
          <span class="cpr_logo"><a href="https://www.sib.swiss/"> <img src="./static/images/SIB_logo.png"></a></span>
          <span class="cpr_logo"><a href="https://www.uzh.ch/en.html"> <img src="./static/images/UZH_logo.png"></a></span>
      </div>
  </footer>
{% endblock footer %}
</div>