<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>help_REST_API.md - Grip</title>
  <link rel="icon" href="/__/grip/static/favicon.ico" />
  <link rel="stylesheet" href="/__/grip/asset/frameworks-23c9e7262eee71bc6f67f6950190a162.css" />
  <link rel="stylesheet" href="/__/grip/asset/site-7472e7b4603d4095447d49d428375ab8.css" />
  <link rel="stylesheet" href="/__/grip/asset/github-6047ad5937cfc1f68855f708a08de860.css" />
  <link rel="stylesheet" href="/__/grip/static/octicons/octicons.css" />
  <style>
    /* Page tweaks */
    .preview-page {
      margin-top: 64px;
    }
    /* User-content tweaks */
    .timeline-comment-wrapper > .timeline-comment:after,
    .timeline-comment-wrapper > .timeline-comment:before {
      content: none;
    }
    /* User-content overrides */
    .discussion-timeline.wide {
      width: 920px;
    }
  </style>
</head>
<body>
  <div class="page">
    <div id="preview-page" class="preview-page" data-autorefresh-url="">

    

      <div role="main" class="main-content">
        <div class="container new-discussion-timeline experiment-repo-nav">
          <div class="repository-content">
            <div id="readme" class="readme boxed-group clearfix announce instapaper_body md">
              
                <h3>
                  <span class="octicon octicon-book"></span>
                  help_REST_API.md
                </h3>
              
              <article class="markdown-body entry-content" itemprop="text" id="grip-content">
                <p>| Name | DataType | Required/Optional | Default | Description | Example |
| :---: |  :---: |  :---: |  :---: |
| identifiers | string | required | None | Required parameter for multiple items | "DRD1_HUMAN%0dDRD2_HUMAN" |
| taxid | integer | only required if enrichment_method is "genome" | None | NCBI taxon identifiers (e.g. Human is 9606, see: STRING organisms) | 9606 |
| output_format | string | optional | json | The desired format of the output, one of {tsv, tsv-no-header, json, xml} | tsv |
| limit_2_entity_type | string | optional | "-21;-22;-23;-51;-52;-53;-54;-55" (all available) | Limit the enrichment analysis to a specific or multiple entity types | '-21' (for GO molecular function) or '-21;-22;-23;-51' (for all GO terms as well as UniProt Keywords" |
| FDR_cutoff | float | optional | None | False Discovery Rate cutoff (threshold for multiple testing corrected p-values), 0 or not passing the parameter means no cutoff applied. | 0.001
| caller_identity | string | optional | None | Your identifier for us | <a href="http://www.my_awesome_app.com" rel="nofollow">www.my_awesome_app.com</a> |
| species | string | deprecated | None | deprecated, please use 'taxid' instead | |
| organism | string | deprecated | None | deprecated, please use 'taxid' instead | |
| method | string | deprecated | None | deprecated | |
| enrichment | string | deprecated | None | deprecated | |</p>

              </article>
            </div>
          </div>
        </div>
      </div>

    

  </div>
  <div>&nbsp;</div>
  </div><script>
    function showCanonicalImages() {
      var images = document.getElementsByTagName('img');
      if (!images) {
        return;
      }
      for (var index = 0; index < images.length; index++) {
        var image = images[index];
        if (image.getAttribute('data-canonical-src') && image.src !== image.getAttribute('data-canonical-src')) {
          image.src = image.getAttribute('data-canonical-src');
        }
      }
    }

    function scrollToHash() {
      if (location.hash && !document.querySelector(':target')) {
        var element = document.getElementById('user-content-' + location.hash.slice(1));
        if (element) {
           element.scrollIntoView();
        }
      }
    }

    function autorefreshContent(eventSourceUrl) {
      var initialTitle = document.title;
      var contentElement = document.getElementById('grip-content');
      var source = new EventSource(eventSourceUrl);
      var isRendering = false;

      source.onmessage = function(ev) {
        var msg = JSON.parse(ev.data);
        if (msg.updating) {
          isRendering = true;
          document.title = '(Rendering) ' + document.title;
        } else {
          isRendering = false;
          document.title = initialTitle;
          contentElement.innerHTML = msg.content;
          showCanonicalImages();
        }
      }

      source.onerror = function(e) {
        if (e.readyState === EventSource.CLOSED && isRendering) {
          isRendering = false;
          document.title = initialTitle;
        }
      }
    }

    window.onhashchange = function() {
      scrollToHash();
    }

    window.onload = function() {
      scrollToHash();
    }

    showCanonicalImages();

    var autorefreshUrl = document.getElementById('preview-page').getAttribute('data-autorefresh-url');
    if (autorefreshUrl) {
      autorefreshContent(autorefreshUrl);
    }
  </script>
</body>
</html>