<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS testing</title>

</head>
<body>

<script>
    /*
    let userName = prompt("Who's there?", "");
    if (userName === "Admin") {
        let password = prompt("PassWord:", "");
        if (password === "TheMaster") {
            alert("Welcome!");
        } else if (password === "" || password == null) {
            alert("Canceled");
        } else {
            alert("wrong password");
        }
    } else if (userName == null || userName == "") {
        alert("Canceled!");
    } else {
        alert("I don't know you");
    }
     */

    let user = {};
    user.name = "John";
    user.surname = "Smith";
    user.name = "Pete";
    delete user.name;

    let schedule = {};
    //alert( isEmpty(schedule) );
    schedule["8:30"] = "get up";
    //alert( isEmpty(schedule) );

    function isEmpty(some_object) {
        for (let key in some_object) {
            return false;
        }
        return true;
    }

    let salaries = {
      John: 100,
      Ann: 160,
      Pete: 130
    }
    let sum = 0;
    for (let val in salaries) {
        sum += salaries[val]
    }
    //console.log("sum is ${sum}")
    //alert(sum);

    function multiplyNumeric(obj) {
        for (let key in obj) {
            if (typeof obj[key] == "number") {
                obj[key] *= 2
            }
        }
    }
    let menu = {
        width: 200,
        height: 300,
        title: "My menu"
        };
    multiplyNumeric(menu);
    alert(menu["width"]);


</script>

</body>
</html>