<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon_sund.ico') }}">

    <title>a GO tool</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
{#    <link type="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">#}

<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/agotool.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap-filestyle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/utilities.js') }}"></script>
    {% block head %}
    {% endblock head %}
</head>



<body role="document">
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">a GO tool</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('enrichment') }}">enrichment</a></li>
                    <li><a href="{{ url_for('parameters') }}">parameters</a></li>
                    <li><a href="{{ url_for('example') }}">example</a></li>
                    <li><a href="{{ url_for('FAQ') }}">FAQ</a></li>
                    <li><a href="{{ url_for('about') }}">about</a></li>
                </ul>
{#                <span class="cpr_logo"><a href="http://www.cpr.ku.dk/"> <img height="40" width="92" src="./static/cpr_logo.png"></a></span>#}
            </div>
        </div>

    </div>

    <div class="tab-content container">
    {% block content %}
    {% endblock content %}
    </div>
    {% block table %}
    {% endblock table %}
    <div class="tab-content container">
    {% block optionals %}
    {% endblock optionals %}
    </div>

{#    ToDo#}
{#    <div id="footer">#}
{#        {% block footer %}#}
{#        <span class="cpr_logo"><a href="http://www.cpr.ku.dk/"> <img height="40" width="92" src="./static/cpr_logo.png"></a></span>#}
{#        {% endblock %}#}
{#    </div>#}

</body>
</html>
