{% extends "layout.html" %}
{% block head %}
      <script type="text/javascript">
          $(document).ready( function() {
              enrichment_page();
          });
      </script>
{% endblock head %}

{% block nav_About %} <li class="nav-item active"> <a class="nav-link" href="{{ url_for('plot') }}">Plot<span class="sr-only">(current)</span></a></li> {% endblock %}

{% block content %}
    <div id="tester" style="width:600px;height:250px;"></div>

{% endblock content %}


{#<head>#}
{#  <!-- Plotly.js -->#}
{#  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>#}
{#</head>#}
{##}
{#<p>#}
{#    Here's a simple Plotly plot - #}
{#    <a href="https://bit.ly/1Or9igj">plotly.js documentation</a>#}
{#</p>#}
{##}
{#<!-- Plots go in blank <div> elements. #}
{#    You can size them in the plot layout,#}
{#    or give the div a size as shown here.#}
{#-->#}