.errors {
    color:red;
    font-weight: bold;
}

body { background-color:#fff; }

.navbar-default, .primary-color {
    background-color:#d95f0e !important;
    border-color:#d95f0e;
    border-radius: 0;
}

.page-footer {
    background-color:#d95f0e !important;
    border-color:#d95f0e;
    border-radius: 0;
}

.navbar-header{
    padding: 10px;
    width: 140px;
}

.navbar-nav{ padding: 10px; }

.cpr_logo { padding: 20px 35px; }

.example {
    font-size: 12px;
    color: grey;
    text-decoration: underline;}

.example_header {
    font-size: 12px;
    color: grey;
}

.grey_underline {
    color: grey;
    text-decoration: underline;
}

.NCBI_TaxID {
    color: black;
    text-decoration: underline;
}

/*https://css-tricks.com/snippets/css/sticky-footer/*/
* { margin: 0; }

html, body { height: 100%; }

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -92px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after { height: 92px;}


.col_heading {white-space: normal;}

.col0, .col2 {white-space: nowrap;}

.bulletpoints_li {
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;}

.alert {margin-bottom: 0rem;}

thead {font-size: 14px;}

.dataTables_info {font-size: 0.8rem;}

.table_etype {
    font-size: 13px;
    /*padding: 0.5rem;*/
    margin-top: 4px;
    margin-bottom: 1px !important;
    border-top: none;
}

.full-width-div {
    position: absolute;
    width: 100%;
    left: 0;
}

.results{ font-size: 1.1em !important; }

.pagination { font-size: 0.8rem; }

.dt-nowrap { white-space: nowrap; }

.dt-noellipsis {
    text-overflow: clip !important;
    /*overflow: hidden;*/
    white-space: initial !important;
}

div.dataTables_wrapper { margin-bottom: 3em; }

/* Hover text in plotly scatter plot */
svg.main-svg g.hoverlayer g.hovertext path {
    fill-opacity: 0.5;
    stroke: white !important;
}

svg.main-svg g.hoverlayer g.hovertext text {
    fill: #43464B !important;
}

/* Data Table highlight color on hover over rows but not over header */
table tbody tr:hover { background-color: goldenrod !important; }
/* Data Table highlight color on selection */
.even.selected td { background-color: #b5d7eb !important; }
.odd.selected td { background-color: #b5d7eb !important; }

.dataTable_DBL {
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 1px !important;
    border-top: none;
}
/* remove border between rows of data table */
.table td, .table th { border-top: none; }

/* Scatter plot legend text. When adding term labels (as interactive annotations) the text "Aa" is added in superscript to the legend. Remove this bug via code below */
.pointtext {
    display: none;
}

.dbl_reset_button {
    /*font-size: 12px;*/
    /*padding: 4px 16px*/
    /*padding: 4px 16px 4px 8px;*/
    padding: 4px 4px 4px 4px;
    /*padding-top: 0.25rem;*/
    /*padding-right: 0.5rem;*/
    /*padding-bottom: 0.25rem;*/
    /*padding-left: none;*/

    /*margin: 0;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*-ms-transform: translate(-50%, -50%);*/
    /*transform: translate(-50%, -50%);*/
    transform: translate(-20px); /* Equal to: translateX(10px) or translate(10px, 0) */
    width: 65px;


}


/* not working */
.tr { height: 10px; }
#dataTable_DBL_id tbody > tr > td {
    white-space: nowrap;
}


/*.toggle-handle {*/
/*    border-width: 0 1px;*/
/*    color: black;*/
/*}*/

/* TEMP start */
.center_dbl {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}





/*table, th, td {*/
/*  border: 0px;*/
/*}*/

/*.row {*/
/*  display: flex;*/
/*}*/
/*.row > div {*/
/*  flex: 1;*/
  /*background: cadetblue;*/
  /*border: 1px solid black;*/
/*}*/
/* TEMP stop */