.errors {color:red;
    font-weight: bold;}

body {background-color:#fff;}

.navbar-default, .primary-color {
    background-color:#d95f0e !important;
    border-color:#d95f0e;
    border-radius: 0;}

.page-footer {
    background-color:#d95f0e !important;
    border-color:#d95f0e;
    border-radius: 0;}

.navbar-header{
    padding: 10px;
    width: 140px;}

.navbar-nav{padding: 10px;}

.cpr_logo {
    /*float: right;*/
    padding: 20px 35px;
}

.example {
    font-size: 12px;
    color: grey;
    text-decoration: underline;}

.example_header {
    font-size: 12px;
    color: grey;}

.grey_underline {
    color: grey;
    text-decoration: underline;}

.NCBI_TaxID {
    color: black;
    text-decoration: underline;}


/*https://css-tricks.com/snippets/css/sticky-footer/*/
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -92px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 92px;
}




/* TABLES*/

/*.ellipsis {*/
/*  text-overflow: ellipsis;*/
/*  overflow: hidden;}*/

.col_heading {white-space: normal;}

.col0, .col2 {white-space: nowrap;}

.bulletpoints_li {
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;}

.alert {margin-bottom: 0rem;}

thead {font-size: 14px;}

tr:hover {background-color: gold !important;}
/*.table_etype.tr:hover {background-color: gold !important;}*/

/*table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {background-color: gold; }*/
/*table.dataTable.hover tbody tr:hover.selected, table.dataTable.display tbody tr:hover.selected {background-color: gold; }*/
/*table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {background-color: gold; }*/
/*table.dataTable.display tbody tr:hover > .sorting_2, table.dataTable.order-column.hover tbody tr:hover > .sorting_2 {background-color: gold; }*/
/*table.dataTable.display tbody tr:hover > .sorting_3, table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {background-color: gold; }*/
/*table.dataTable.display tbody tr:hover.selected > .sorting_1, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {background-color: gold; }*/
/*table.dataTable.display tbody tr:hover.selected > .sorting_2, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {background-color: gold; }*/
/*table.dataTable.display tbody tr:hover.selected > .sorting_3, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {background-color: gold; }*/


.dataTables_info {font-size: 0.8rem;}

.table_etype {
    font-size: 13px;
    /*padding: 0.5rem;*/
    margin-top: 4px;
    margin-bottom: 1px !important;
    border-top: none;}

.full-width-div {
    position: absolute;
    width: 100%;
    left: 0;
}

.results{
    /*color: white !important;*/
    font-size: 1.1em !important;
    }


/*.table td, .table th {*/
/*    padding: 0.5rem;*/
/*}*/


.pagination {font-size: 0.8rem;}

.dt-nowrap { white-space: nowrap; }

.dt-noellipsis {
    text-overflow: clip !important;
    /*overflow: hidden;*/
    white-space: initial !important;}

/*#table_etype {*/
/*    display: table;*/
/*    font-size: 13px;*/
/*    text-overflow: ellipsis;*/
/*    overflow: hidden;*/
/*    white-space: normal;*/
/*    !*padding: 5px;*!*/
/*    border-top: none;*/
/*    border-bottom: none;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    border-spacing: 0px;*/
/*    margin-top: -5px;*/
/*    width: 100%;}*/

div.dataTables_wrapper {margin-bottom: 3em;}


/*table.dataTable tbody td {*/
/*    word-break: break-word;*/
/*    vertical-align: top;*/
/*}*/




/*.col8, .col2  */


/*#table_56 .col2 {white-space: normal;}*/
    /*max-width: 30px;}*/
    /*word-wrap: break-word;*/
    /*white-space: nowrap;}*/


/*.left {text-align: left;}*/
/*.center {text-align: center;}*/
/*.right {text-align: right;}*/
/*    !*!*margin-right: 20px*!}*!*/

/*.somename {padding-right: 10px;}*/

/* formatting unordered list with long row  */


/*body {background-color:#64a1b8;}*/
/*UniProt colours*/
/*#71b8d3*/
/*#1d5c74*/
/*Darker version of UniProt blue*/
/*#64a1b8*/
/*#9d4a4d*/
/* navbar */
/*.navbar-default{*/
/*    background-color:#64a1b8;*/
/*    border-color:#64a1b8;*/
/*    border-radius: 0;*/
/*}*/
/*.navbar-default a, .navbar-default a:active, .navbar-default a:visited{*/
/*    color: #FFF !important;*/
/*}*/
/*.navbar-default a:hover{*/
/*    font-weight: bold;*/
/*    color: black !important;*/
/*}*/
/*.navbar-collapse > ul > li {*/
    /*width: 110px !important;*/
/*}*/

/*.navbar-custom{*/
/*    background-color:#64a1b8;*/
/*    border-color:#64a1b8;*/
/*    border-radius: 0;*/
/*}*/

/*#41B3A3 greenisch*/
/*#C38D9E*/
/*#F13C20 knalliges orange*/
/*f03b20 auch knalliges orange*/
/*#E27D60  orange*/
/*d95f0e*/

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner table {
        --accent: black !important;
}