{% extends "layout.html" %}

{% block head %}
      <script type="text/javascript">
          $(document).ready( function() {
              enrichment_page();
          });
      </script>
{% endblock head %}

{% block content %}

<div class="container-fluid">

    <h3>Contact</h3>
        <div class="row">
            <div class="col-md-3">
            <p>Brian Tate Weinert
            <br><a href="mailto:briantate.weinert@cpr.ku.dk" class="link"><span>briantate.weinert@cpr.ku.dk</span></a> </p>
            </div>
            <div class="col-md-3">
            <p>Chuna Ram Choudhary
            <br><a href="mailto:chuna.choudhary@cpr.ku.dk" class="link"><span>chuna.choudhary@cpr.ku.dk</span></a> </p>
            </div>
            <div class="col-md-3">
            <p>Lars Juhl Jensen
            <br><a href="mailto:lars.juhl.jensen@cpr.ku.dk" class="link"><span>lars.juhl.jensen@cpr.ku.dk</span></a> </p>
            </div>
        </div>

    <h3>Publication</h3>
        will be named and linked here<br><br>

    <h3>Source Code</h3>
        The software (published under <a href="http://opensource.org/licenses/BSD-2-Clause"> BSD</a>) is available at <a href="https://github.com/dblyon/agotool.git">https://github.com/dblyon/agotool.git</a>.<br>
        Feel free to contact <a href="mailto:david.lyon@cpr.ku.dk" class="link"><span>david.lyon@cpr.ku.dk</span></a> for support.

    <br>


</div>
	
{% endblock content %}

