{% extends "layout.html" %}

{% block head %}

{% endblock head %}

{% block content %}

<div class="container-fluid">
    <h3>Example data</h3>
    <br>
    Look at the
    <td><a href="{{ url_for('download_example_data', filename='exampledata.txt') }}">example data</a> for comparison.</td>
    <p>please right click the download link to 'save link as'</p>
    <br>
    <p>
    The example data (Yeast) can be submitted using the default settings for either the GO-terms or UniProt-keywords page.<br>
        It contains Yeast data for the observed proteome ('background' and 'intensity') as well as Yeast acetylation data ('foreground').
        <br>The results (using default settings) should look like this:
        <td><a href="{{ url_for('download_example_data', filename='GO_term_results.txt') }}">GO-term results</a> and</td>
        <td><a href="{{ url_for('download_example_data', filename='UniProt_keywords_results.txt') }}">UniProt-keywords results</a></td>
</div>
	
{% endblock content %}
