<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="./static/js/favicon_sund.ico" sizes="16x16" />

    <title>a GO Tool</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-filestyle.min.js') }}"></script>

{#    <!-- Compiled and minified CSS -->#}
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">#}
{#    <!-- Compiled and minified JavaScript -->#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>#}


    <link rel="stylesheet" href="{{ url_for('static', filename='css/agotool.css') }}">
    <script src="{{ url_for('static', filename='js/utilities.js') }}"></script>
    {% block head %}
    {% endblock head %}
</head>

<body role="document">
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">A.GO.TOOL</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('enrichment') }}">enrichment</a></li>
                    <li><a href="{{ url_for('parameters') }}">parameters</a></li>
                    <li><a href="{{ url_for('example') }}">example</a></li>
                    <li><a href="{{ url_for('db_schema') }}">data base</a></li>
                    <li><a href="{{ url_for('howto') }}">how to</a></li>
                    <li><a href="{{ url_for('about') }}">about</a></li>
                </ul>
                <span class="cpr_logo"><a href="http://www.cpr.ku.dk/"> <img height="40" width="92" src="./static/js/cpr_logo.png"></a></span>
            </div>
        </div>

    </div>

    <div class="tab-content container">
    {% block content %}
    {% endblock content %}
    </div>
    {% block table %}
    {% endblock table %}
    <div class="tab-content container">
    {% block optionals %}
    {% endblock optionals %}
    </div>
</body>
</html>
