{% extends "layout.html" %}

{% block head %}

{% endblock head %}

{% block content %}

<div class="container-fluid">

    <h3>Contact</h3>
        <div class="row">
            <div class="col-md-3">
            <p>Brian Tate Weinert
            <br><a href="mailto:briantate.weinert@cpr.ku.dk" class="link"><span>briantate.weinert@cpr.ku.dk</span></a> </p>
            </div>
            <div class="col-md-3">
            <p>Chuna Ram Choudhary
            <br><a href="mailto:chuna.choudhary@cpr.ku.dk" class="link"><span>chuna.choudhary@cpr.ku.dk</span></a> </p>
            </div>
            <div class="col-md-3">
            <p>Lars Juhl Jensen
            <br><a href="mailto:lars.juhl.jensen@cpr.ku.dk" class="link"><span>lars.juhl.jensen@cpr.ku.dk</span></a> </p>
            </div>
        </div>

    <h3>Publication</h3>
        will be named and linked here<br><br>

    <h3>Code</h3>
        The software (published under <a href="http://opensource.org/licenses/BSD-2-Clause"> BSD</a>) is available at <a href="https://github.com/dblyon/agotool.git">https://github.com/dblyon/agotool.git</a>.<br><br>

    <h3>FAQ</h3>
        <p>
        AccessionNubers that do not match any <a href="http://geneontology.org/">GO-term</a>
            or UniProt-keyword <a href="http://www.uniprot.org/">UniProt-keyword</a>
            will be disregarded.<br>
        AccessionNumbers without abundance data will be disregarded if 'abundance correction' is selected.<br>
        The exact methodology can be found in the publication (see above link).<br><br>
        </p>

    <h3>Parameters</h3>
    <h4>Upload file</h4>
        <b>Choose File:</b> Expects a tab-demlimited text-file ('.txt' or '.tsv') with the following 3 column-headers:<br>
            <span class="column_names">
                <li>'population_an'</li>
                <li>'population_int'</li>
                <li>'sample_an'</li>
                if 'Abundance correction' is deselected 'population_int' can be omitted<br></span>
        <b>Select Organism:</b> Choose the species/organism the identifiers (accession numbers) correspond to.<br>
        <b>Abundance correction:</b> Apply the abundance correction described in the publication. A column named 'background_int' (background intensity) <br>
            that corresponds to the column 'background_an' (background accession number) needs to be provided, when selecting this option.<br>
            If 'Abundance correction' is deselected 'background_int' can be omitted.<br>
        <b>Number of bins:</b> The number of bins created based on the abundance values provided. Only relevant if 'Abundance correction' is selected.<br><br>

    <h4>Keyword association</h4>
        <b>GO-terms:</b> Select one of three major GO categories (molecular function, biological process, cellular component) or all three.<br>
        <b>GO basic or slim:</b> Choose between the full Gene Ontology or <a href="http://geneontology.org/page/go-slim-and-subset-guide/">GO slim subset</a> a cut-down version of GO.<br>
        <b>Backtracking parent GO-terms:</b> Include all parent GO-terms.<br><br>

    <h4>Report options</h4>
        <b>prepend GO-term level by dots:</b> Add dots to GO-terms to indicate the level in the hierarchy.<br>
        <b>overrepresented or underrepresented or both:</b> Choose to only test and report overrepresented or underrepresented GO-terms, or report both of them.<br>
        <h5>Multiple testing</h5>
        <b>Method for correction of multiple testing:</b> Select a method for multiple testing correction.<br>
        <b>Alpha:</b> Applied to multiple correction methods 'Sidak' and 'Holm' to calculate 'corrected' p-values.<br>
        <h5>Filter results</h5>
        Filter results options simply filter the results based on the provided threshold values and thus influence which results are shown (but not what is being tested).<br>
        "0" means that no filter will be applied<br>
        <b>fold enrichment study/population:</b> Minimum threshold value of 'fold_enrichment_study2pop'.<br>
        <b>p-value uncorrected:</b> Maximum threshold value of 'p_uncorrected'.<br>
        <b>FDR-cutoff / p-value multiple testing:</b> Maximum FDR (for Benjamini-Hochberg) or p-values-corrected threshold value.<br><br><br>

    <h3>Results</h3>
    <p>
        <h5>Column definitions</h5>
            <b>id:</b> GO term ID or Uniprot Keyword term<br>
            <b>over/under:</b>	overrepresented (o) or underrepresented (u)<br>
            <b>perc_associated_study:</b> % associated with the term in the study group<br>
            <b>perc_associated_pop:</b>	% associated with the term in the population group<br>
            <b>fold_enrichment_study2pop:</b> fold change study/population. This value is set to "-1" if either the numerator or the denominator is zero.<br>
            <b>study_count:</b>	number of proteins associating with term in study<br>
            <b>study_n:</b>	number of proteins in study group (total)<br>
            <b>pop_count:</b> number of proteins associating with term in population<br>
            <b>pop_n:</b> number of proteins in population group (total)<br>
            <b>description:</b>	description of GO term (GO terms only)<br>
            <b>p_uncorrected:</b> Fisher exact test p-value<br>
            <b>FDR / p_multiple_testing_method:</b> Multiple testing correction. FDR (if Benjamini Hochberg) or corrected p-value (all other methods).<br>
            <b>ANs_study:</b> Accession names in the study (UniProt IDs associating with the GO term/keyword)<br>
            <b>ANs_pop: *</b> Accession names in the population (UniProt IDs associating with the GO term/keyword)<br>
            (* 'ANs_pop' column is only shown when 'abundance correction' is deselected.)
            <br><br><br>
    </p>

</div>
	
{% endblock content %}

