/* overwrite odd rows being grey with white*/
.dash-header, .expanded-row--empty-cell {background-color: white !important;}

/*.dbl_class {color: red;}*/
.dash-filter input {
    text-align: left !important;
    padding-left: 5px !important;
    background-color: white !important;
}

/* Hover text in plot */
svg.main-svg g.hoverlayer g.hovertext path{
/*    fill: hsla(0, 70%m 80%, 01) */
    fill-opacity: 0.5;
    stroke: white !important;
}
svg.main-svg g.hoverlayer g.hovertext text{
    fill: #43464B !important;
}

/* When adding term labels (as interactive annotations) the text "Aa" is added in superscript to the legend. Remove this bug via code below */
.pointtext {
    display: none;
}

.button_dbl {
    border: #43464B;
    /*border-color: #43464B;*/
    color: #43464B;
    text-transform: none;
}


/* Dash data table START */

/* hover color */
.dash-spreadsheet-container table {
    /*--accent: #00a355 !important;*/
    --accent: black !important;
    /*--selected-background: #00a35444 !important;*/
    /*--selected-color: #3C3C3C !important;*/
    /*margin: 3rem;*/
    /*padding: 0 20px;*/
    }

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner.dash-freeze-left, .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner.dash-freeze-top, .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner.dash-virtualized {
    padding: 0 20px;
}


/*Toggle columns button of dash data table*/
/*.show-hide {*/
/*    @extend .mr-1;*/
/*    @extend .btn;*/
/*    @extend .btn-info;*/
/*    }*/
/*.btn, .show-hide {}*/

/* Dash data table STOP */