{% extends "layout.html" %}

{% block head %}
      <script type="text/javascript">
          $(document).ready( function () {
              load_enzyme_enrichment();
          });
      </script>
{% endblock head %}


{% block content %}

<div class="container-fluid">
	<form id="main_form" method="Post" action="GOTUPK_file_enrichment_result" enctype="multipart/form-data">
        <h4>GO-term or UniProt-Keyword Enrichment</h4>
        <p>Takes a single file as input, containing 3 tab-separated column with the following header: 'sample_an', 'background_an', 'background_int'</p>
        <div>{{form.forground_file.label}}: {{form.forground_file(class="filestyle btn-info")}}</div>
        <br>
        <button id="submit_button" type="submit" class="btn btn-primary">Submit</button>
        <button id="clear_button" type="button" class="btn btn-primary">Clear</button>
		<br>
	</form>
</div>  <!-- /container -->

{% endblock content %}
